@media all and (max-device-width: 1300px)
{

    /*Propriétés spécifiques de la page et à une partie des balises*/
    #blocPage{
        max-width: 1300px;
        margin: auto;
    }

    /*Section "hebergement" et "pop"*/
    .englobe{
        background-color: #F2F2F2;
    }

    /*Section "marseille"*/
    .column2{
        width: 770px;
        height: 215px;
    }

    .fort{
        margin-right: 100px;
        margin-left: 20px;
    }

    .dame{
        margin-right: 100px;
        margin-left: 20px;
    }

    /*footer*/
    .cgv, .charte, .aide{
        margin-right: 200px;
    }
    

}