@media all and (max-width: 400px)

{

    .englobe{
        padding: 0;
    }

    .titlePop{
        padding-left: 15px;
    }

    #Recherches{
        padding-right: 0;
    }

    .titreHeb{
        padding-left: 15px;
    }

    .plus{
        padding-left: 15px;
    }

    #marseille{
        padding: 0;
    }

    .titleMar{
        padding-left: 15px;
    }

    footer{
        padding: 0;
    }

    .condition{
        margin: 0;
        padding-left: 15px;
    }

}