@media all and (max-device-width: 1488px)
{

    /*Propriétés spécifiques de la page et à une partie des balises*/
    #blocPage{
        max-width: 1488px;
        margin: auto;
    }

    /*Section "hebergement" et "pop"*/
    .englobe{
        height: auto;
    }
    
    .sixCards{
        height: auto;
    }

    .vignette{
        width: 330px;
        height: 200px;
    }

    .titreHeb{
        height: 60px;
    }

    .plus{
        height: 60px;
    }

    /*Section "pop"*/
    #pop{
        height: 840px;
    }

    .titlePop{
        height: 60px;
    }

    /*Section "marseille"*/
    #marseille{
        width: 92%;
        height: auto;
    }
    
    .Act{
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    
    .titleMar{
        height: 60px;
    }

    .column1{
        width: 325px;
        height: 195px;
        
    }

    .column1 .cadre{
       width: 325px;
       height: 135px;
    }

    .column2{
        width: 870px;
        height: 215px;
    }

    .column2 .cadre{
        width: 325px;
        height: 135px;
    }

    .port, .fort, .frioul, .parc, .dame, .long{
        width: 325px;
        height: 195px;
    }

    .fort{
        margin-right: 200px;
        margin-left: 20px;
    }

    .dame{
        margin-right: 200px;
        margin-left: 20px;
    }

    .condition{
        width: 60%;
    }

}