@media all and (max-device-width: 1099px)
{

    /*Section "englobe"*/
    .englobe{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    
    #hebergement:nth-child(1){
        order: 2;
    }

    #pop:nth-child(2){
        order: 1;
    }

    #hebergement{
        width: 91%;
        background-color: #fff;
    }

    #pop{
        width: 87%;
        height: 45%;
        border-radius: 0;
        padding-bottom: 40px;
    }

    .threePop{
        width: 100%
    }

    .populaire{
        width: 40%;
        margin-bottom: 0;
    }

    .marge{
        margin-bottom: 40px;
    }

    /*Section "marseille"*/
    #marseille{
        height: auto;
    }

    .titleMar{
        height: 120px;
    }
    
    .Act{
        width: 98%;
        height: 90%; 
    }

    .column1{
        width: 44%;
        height: initial;
    }

    .column2{
        display: contents;
        width: 100%;
        height: initial;
    }

    .column1 .cadre{
        height: 190px;
    }

    .column2 .cadre{
        height: 190px;
    }

    .column1 a{
        width: 100%;
        height: 250px;
    }

    .column2 a{
        width: 44%;
        height: 250px;
    }

}