@media all and (max-width: 1085px)
{

    #hebergement{
        width: 45%;
    }

    .vignette{
        width: 100%;
    }

    .textCadre{
        width: 60%;
    }

    #pop{
        width: 50%;
    }

}