@media all and (max-device-width: 768px)
{
    
    .search{
        display: none;
    }

    .loupe{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*header*/
    header{
        flex-direction: column;
        height: auto;
        width: 100%;
        border-bottom: 3px solid #f2f2f2;
    }

    .logoBooki{
        margin-left: 70px;
    }

    header nav a{
        width: 100%;
        height: initial;
        margin-right: 0;
    }

    header nav ul{
        padding-left: 0;
    }

    .marginR{
        padding-right: 70px;
    }

    /*Navigation au survol*/
    .ligne::before{
        content: '';
        display: block;
        position: absolute;
        border-top: 3px solid #0065FC;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.4s ease;
        left: 29%;
        width: 100%;
        top: 35px;
    }
    
    .ligne:hover::before{
        transform: translateX(-50%) scaleX(1);
    }
    
    .ligneTwo::after{
        content: '';
        display: block;
        position: absolute;
        border-top: 3px solid #0065FC;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.4s ease;
        left: 50%;
        width: 130px;
        top: 35px;
    }
    
    .ligneTwo:hover::after{
        transform: translateX(-50%) scaleX(1);
    }

    /*Section "recherches"*/
    #Recherches{
        margin-left: 40px;
    }
    
    h1{
        font-size: 25px;
    }
    
    .Filtres label{
        margin-right: 10px;
        font-size: medium;
    }

    /*Sections "englobe" + "hebergement" + "pop"*/
    .englobe{
        margin-bottom: 0;
    }

    /*"pop"*/
    #pop{
        width: 100%;
    }

    .threePop{
        margin-left: 40px;
    }

    .populaire{
        width: 350px;
        height: 160px;
    }
    
    /*"hebergement"*/
    #hebergement:nth-child(1){
        order: 2;
    }

    #pop:nth-child(2){
        order: 1;
    }

    #hebergement{
        width: 100%;
        padding: 0;
        justify-content: center;
        margin-right: 0;
    }

    .titreHeb{
        padding-left: 40px;    
    }

    .sixCards{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .vignette{
        width: 350px;
        height: 230px;
    }

    .vignette .cadre{
        height: 140px;
    }

    .textHeb{
        height: 90px;
    }

    .etoilesHeb{
        font-size: 12px;
    }

    /*Section "marseille"*/
    #marseille{
        width: 100%;
    }

    .titleMar{
        height: initial;
        margin-left: 40px;
    }

    .Act{
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .column1{
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .column2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
 
    .Act a{
        width: 350px;
        height: 220px;
    } 

    .Act .cadre{
        height: 160px;
    }

    .port{
        margin-bottom: 40px;
    }

    /*footer*/
    footer{
        justify-content: center;
        height: initial;
    }
    
    .condition{
        flex-direction: column;
        width: 100%;
        margin-left: 40px;
    }

}
