@media all and (max-device-width: 1075px)
{

    /*Propriétés spécifiques de la page et à une partie des balises*/
    #blocPage{
        max-width: 1075px;
        margin: auto;
    }

    /*header*/
    header{
        width: 993px;
    }

    /*Filtres*/
    

}