@media all and (max-width: 1294px)
{
    /*header*/
    header{
        width: 92%;
    }
    
    /*Section "englobe"*/
    #hebergement{
        width: 52%;
    }

    #pop{
        width: 33%;
    }

    /*Section "marseille"*/
    #marseille{
        width: 88%;
    }

}