@media all and (max-device-width: 1704px)
{

    /*Section "hebergement"*/
    .englobe{
        height: auto;
    }

    #hebergement{
        padding-right: 0;
    }

    .sixCards{
        width: 95%;
        height: 80%;
    }
    
    .vignette{
        width: 45%;
    }
    
    .textCadre{
        display: flex;
        flex-wrap: wrap;
        align-items: initial;
        flex-direction: column;
        width: 100%;
        height: 85px;
    }

    .hostel{
        padding-bottom: 5px;
    }
    
    .night{
        padding-bottom: 10px;
    }

    .titreHeb{
        height: 10%;
    }

    .plus{
        height: 10%;
    }

    /*Section "pop"*/
    .textePop{
        width: 50%;
    }

}