@media all and (max-width: 340px)
{

    header {
        padding-left: 20px;
    }

    .formSearch label{
        font-size: 15px;
    }

    .formSearch button{
        font-size: 15px;
    }

    .coText{
        padding-left: 0;
    }

    .titlePop{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #Recherches {
        padding-left: 20px;
    }

    .titreHeb{
        padding-left: 20px;
    }

    .plus{
        padding-left: 20px;
    }

    .titleMar {
        padding-left: 20px;
    }

    

}
