@media all and (max-width: 865px)
{

    header {
        padding-left: 30px;
    }
    
    #Recherches {
        padding-left: 30px;
    }

    #hebergement{
        width: 100%;
    }

    .titreHeb{
        margin: 0;
        padding-left: 30px;
    }

    .vignette{
        width: 45%;
    }

    .plus{
        margin: 0;
        padding-left: 30px;
    }

    #pop{
        width: 100%;
        padding: 0;
    }

    .titlePop{
        padding-left: 30px;
        padding-right: 30px;
    }

    .threePop{
        justify-content: space-evenly;
    }

    .populaire{
        width: 45%;
    }
    
    .textePop{
        width: 45%;
    }

    .titleMar {
        margin-left: 0;
        padding-left: 30px;
    }

    .column1{
        width: 44%;
   }

   .column2{
        width: 44%;
}

    .column2 a{
        width: 44%;
}

}