@media all and (max-width: 1115px)
{

    #hebergement{
        width: 55%;
        background-color: white;
        padding: 0;
    }

    .sixCards{
        justify-content: center;
    }

    .titreHeb{
        margin-left: 65px;
    }

    .vignette{
        width: 75%;
        height: 220px;
    }

    .vignette .cadre{
        height: 130px;
    }
    
    .textCadre{
        width: 55%;
    }

    .plus{
        margin-left: 65px;
    }

    #pop{
        width: 42%;
        border-radius: 0;
    }

    .populaire{
        height: 160px;
    }

    #marseille{
        height: auto;
    }

    .titleMar{
        margin-left: 65px;
    }

   .column1{
        width: 41%;
        height: 220px;
        margin-bottom: 40px;
   }

   .column1 a{
        width: 100%;
        height: 220px;
   }

   .column1 .cadre{
        width: 100%;
        height: 160px;
   }

   .column2{
        display: contents;
        width: 41%;
   }

   .column2 a{
        width: 41%;
        height: 220px;
   }

   .column2 .cadre{
        width: 100%;
        height: 160px;
   }

   .disB{
        justify-content: space-evenly;
   }

}