/*Insertion d'une nouvelle police*/
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('Raleway_google_fonts/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('Raleway_google_fonts/static/Raleway-Bold.ttf');
}

/*Propriété CSS box-sizing & polices*/
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/*Propriétés spécifiques de la page et à une partie des balises*/
#blocPage{
    max-width: 1920px;
    margin: auto;
}

span, a{
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/*Couleurs principales des textes et icônes*/
.blue{
    color: #0065FC;
}

.grey{
    color: #F2F2F2;
}

/*Classes génériques display*/
.dis{
    display: flex;
    flex-wrap: wrap;
}

.disC{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.disB{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disCB{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.disCC{   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*Partie header*/
header{
    width: 100%;
    height: 120px;
    padding: 0 40px;
}

.logoBooki{
    margin-left: 15px;
}

.logoBooki img{
    width: 100px;
}

/*Navigation*/
header nav a{
    height: 100px; /*une hauteur pour éloigner la barre apparaissant au survole*/
    margin-right: 70px;
    position: relative;
    color: black;
}

/*Effets au survol de la navigation avec bordure*/
header nav a:hover{
    color: #0065FC;
    font-weight: bold;
}

.ligne::before{
    content: '';
    display: block;
    position: absolute;
    border-top: 3px solid #0065FC;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
    left: 50%;
    width: 177px;
    bottom: 114px;
}

.ligne:hover::before{
    transform: translateX(-50%) scaleX(1);
}

.ligneTwo::after{
    content: '';
    display: block;
    position: absolute;
    border-top: 3px solid #0065FC;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
    left: 50%;
    width: 138px;
    bottom: 114px;
}

.ligneTwo:hover::after{
    transform: translateX(-50%) scaleX(1);
}

/*Section recherches*/
#Recherches{
    width: 100%;
    padding: 0 40px;
}

h1{
    font-size: 22px;
    font-weight: 740;
}

/*Barre de recherche*/
.formSearch label{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 17px 0 0 17px;
}

.iconeMap{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 17px 0 0 17px;
    cursor: pointer;
}

.coText{
    font-size: 18px;
    padding-left: 15px;
}

.coText::placeholder{
    color: black;
    font-weight: bold;
}

.coText::-moz-placeholder{
    font-weight: bold;
    opacity: 1;
}

.formSearch button{
    height: 52px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 17px 17px 0px;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.loupe{
    display: none;
}

/*Filtres*/

/*Permet de "camoufler" l'input en le gardant opérationnel mais hors 
écran (display:none est ignoré par les lecteurs d'écran et les navigateurs)*/
.Filtres input{  
    position: absolute;
    left: -9999px;
}

.Filtres h3{
    margin-right: 30px;
    padding-top: 30px;
}

.Filtres form{
    margin-top: 30px; 
}

.Filtres label{
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}

/*Au survol des filtres*/
.Filtres label:hover{
    background-color: #F2F2F2;
    color: #0065FC;
}

/*Au survol avec les propriétés ::before et ::after*/
.Filtres label:hover:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -3px;
    background: rgba(126, 128, 159, 0.3);
}

.iconeFiltre{
    height: 100%;
    width: 50px;
    margin-right: 15px;
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    margin-left: -3px;
}

.style{
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
}

/*Point info*/
.infos{
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.iconeInfo{
    width: 25px;
    height: 25px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    margin-right: 10px;
}

/*Sections "hebergement" et "pop"*/
.englobe{
    width: 100%;
    height: auto;
    padding: 0 40px;
}

#hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 67%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 40px 40px 40px;
}

.titreHeb{
    width: 100%;
    font-size: 20px;
}

.sixCards{
    width: 100%;
}

.vignette{
    width: 30%;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 1px 1px 19px rgb(202, 202, 202);
}

.vignette:hover{
    box-shadow: 1px 1px 19px rgb(56, 56, 56);
}

.vignette .cadre{
    width: 100%;
    height: 140px;
}

.cadre img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.vignette .cadre img{
    border-radius: 20px 20px 0 0;
}

.textCadre{
    width: 60%;
    height: 80px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}

.hostel{
    font-size: 16px;
    font-weight: bold;
}

.night{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.etoilesHeb{
    font-size: 14px;
}

.plus{
    width: 100%;
    
}

.plus a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/*Section "pop"*/
#pop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#pop a{
    color: black;
}

.titlePop{
    width: 100%;
    font-size: 20px;
}

.threePop{
    justify-content: center;
    height: 85%;
}

.populaire{
    height: 170px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 25px;
    box-shadow: 1px 1px 19px rgb(202, 202, 202);
}

.populaire:hover{
    box-shadow: 1px 1px 19px rgb(56, 56, 56);
}

.populaire .cadre{
    width: 40%;
    height: 100%;
    border-radius: 25px;
    padding: 5px;
}

.populaire .cadre img{
    border-radius: 20px 0 0 20px;
}

.textePop{
    width: 40%;
}

.hostelPop{
    padding-top: 15px;
    padding-left: 15px;
    height: 30%;
    font-weight: bold;
}

.nightPop{
    padding-left: 15px;
    font-size: 14px;
    height: 30%;
}

.etoilesPop{
    padding-left: 15px;
    font-size: 14px;
    height: 30%;
}

/*Section "marseille"*/
#marseille{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 0 40px;
}

#marseille a{
    box-shadow: 1px 1px 19px rgb(202, 202, 202);
    border-radius: 25px;
}

#marseille a:hover{
    box-shadow: 1px 1px 19px rgb(56, 56, 56);
}

.titleMar{
    width: 100%;
    font-size: 20px;
}

.Act{
    width: 100%;
}

.Act .cadre img{
    border-radius: 25px 25px 0 0;
}

.column1, .column2{
    width: 22.5%;
    height: 500px;
    border-radius: 25px;
}

/*column1*/ 
.column1 .cadre{
    width: 100%;
    height: 440px;
}

/*column2*/
.fort{
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.fort .cadre{
    width: 100%;
    height: 190px;
}

.frioul{
    width: 100%;
    height: 208px;
}

.frioul .cadre{
    width: 100%;
    height: 148px;
}

.long{
    width: 100%;
    height: 238px;
}

.long .cadre{
    width: 100%;
    height: 178px;
}

.dame{
    width: 100%;
    height: 220px;
    margin-bottom: 40px;
}

.dame .cadre{
    width: 100%;
    height: 160px;
}

/*Légendes - column1 & 2*/
.textAc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    color: black;
    font-weight: bold;
}

/*footer*/
footer{
    height: 200px;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0 40px;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

footer li{
    padding-bottom: 15px;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: black;
}

.condition{
    width: 70%;
}

.cgv, .charte, .aide{
    margin-top: 20px;
}

