@media all and (max-device-width: 768px)
{
    
    
    
    .search{
        display: none;
    }

    .loupe{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .style{
        font-size: medium;
    }
    
}
