/* Propriété CSS box-sizing */
*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: 'Raleway';
    src: url('Raleway_google_fonts/static/Raleway-Regular.ttf');
    font-weight: normal; 
    font-style: normal;
}